@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared-style */

.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}


/* dark2 */

.text-gray {
    color: #424242;
}


/* dark3 */

.text-light-gray {
    color: rgba(114, 114, 114, 1);
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


/* nav-bar related style  */

.nav-item {
    list-style-type: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar,
.banner {
    margin: 0 auto;
    max-width: 1440px;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}


/* banner-related */

.bnr-content {
    max-width: 861px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.bnr-title {
    font-weight: bold;
    font-size: 4rem;
}

.bnr-img {
    width: 100%;
}


/* main section style  */


/* team and features */

.team {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    margin-left: 73px;
    max-width: 537px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

#p1 {
    font-weight: 500px;
}

#p3 {
    color: rgba(255, 144, 14, 1);
}


/* love-features */

#features-section-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card .feature-title {
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.l-features {
    display: flex;
    gap: 140px
}


/* some-fact */

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-description {
    max-width: 540px;
}

.card {
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-number {
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


/* sponsor */

.sponsor-info {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}


/* responsive-media query */

@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .team {
        flex-direction: column;
    }
    .team-img-container,
    .container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .features {
        margin-left: 18px;
    }
    .container,
    .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }
}